<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>iView project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/public/dist/main.579ab1da5f2d388d5f04.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/public/dist/vendors.579ab1da5f2d388d5f04.js"></script>
    <script type="text/javascript" src="/public/dist/main.579ab1da5f2d388d5f04.js"></script>
</body>

</html>