<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>iView project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/public/dist/main.5b29583bcb067a92a45a.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/public/dist/vendors.5b29583bcb067a92a45a.js"></script>
    <script type="text/javascript" src="/public/dist/main.5b29583bcb067a92a45a.js"></script>
</body>

</html>