@hover-color: #ff8b18;

:root {
    overflow-y: auto;
    overflow-x: hidden;
}
:root body{ 
    position: absolute;
    height: 100%;
    background: #efefef;
}
body {
    width: 100%;

}
li {
    list-style: none;
}


.app {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    background: #fff;
    .carousel {
        img {
            width: 100%;
        }
    }
    .navbar-header {
        height: 55px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background: #1a1a1a;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        color: #fff;
        .container {
            position: absolute;
            width: 100%;
            max-width: 1080px;
            min-width: 340px;
            height: 70px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .nav-left {
                display: flex;
                align-items: center;
                i {
                    margin: 0 8px;
                }
                .title {
                    padding-top: 5px;
                    font-size: 18px;
                    cursor: pointer;
                    width: 120px;
                }
                img {
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                }
            }
            .nav-center {
                .header-search {
                    display: inline-block;
                    min-width: 140px;
                    max-width: 240px;
                    border-radius: 50%;
                    border: none !important;
                }
            }
            .nav-right {
                width: 60%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                > span {
                    color: #fff;
                    cursor: pointer;
                }
                .username {

                }
            }
        }
        
        // @media screen and (max-width: 1000px) {
        //     .top-img {
        //         top: 260px;
        //     }
        //     .navbar-header {
        //         height: 260px;
        //     }
        // }
    }
    > .container {
        min-height: calc(~"100vh - 260px - 60px");
    }
    > footer {
        height: 60px;;
        display: flex;
        justify-content: center;
        align-items: center;
        > a {
            color: #666;
            cursor: pointer;
        }
        :hover {
            color: @hover-color;
        }
    }
}

// 滚动条样式

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
    background-color: #ddd;
}


// 侵入修改样式
.v-note-wrapper {
    z-index: 2 !important;
}